<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="css/main/register.css" type="text/css" rel="stylesheet">
    <title>Register Your Profile</title>
</head>
<body>
        <!--=================== Body ============================ -->
    <header>
        <!--=================== NAVIGATION Start ============================ -->
        <div th:replace="partials/navbar :: navigation">

        </div>
    </header>
        <!--=================== NAVIGATION Start ============================ -->


<main class="container p-2">
    <div class="d-flex justify-content-center h-100">
        <div class="loginbox p-5 h-50">
            <div class="d-flex justify-content-center">
                <div class="brand_logo_container">
                    <img  th:src="@{/images/smallLogo.png/}"  class ="brand_logo" alt="logo">
                </div>
            </div>
            <form th:action="@{/saveUser}" method="post" class="pt-5" id="registerForm">
                <input class="text-center p-3 mb-1" type="text"  name="email" placeholder="Email">

                <input class="text-center p-3 mb-1" type="password" id="password" name="password" placeholder="Password">
                <div id="passwordValid" class="valid"></div>

                <input class="text-center p-3 mb-1" type="password" id="confirm_password" name="pass" placeholder="Password">

                <input class="text-center p-3 mb-1" type="text" name="firstname" placeholder="Firstname">

                <input class="text-center p-3 mb-1" type="text" name="lastname" placeholder="Lastname">

                <input class="text-center p-3 mb-1" type="text" name="address" placeholder="Address">

                <input class="text-center p-3 mb-1" type="text" name="phone" placeholder="Phone">

                <input class="text-center p-3 mb-1" type="text" name="country" placeholder="Country">

                <input class="text-center p-3 mb-1" type="text" name="zipcode" placeholder="Zipcode">

                <input class="text-center p-3 mb-1" type="text" name="jobTitle" placeholder="JobTitle">

                <div id="paypal-button01"></div>

                <select name="role" class="input-group mb-2">
                    <option selected>Open this select menu to choose role</option>
                    <option value="TRIAL_ROLE">Trial-->Free</option>
                    <option value="NORMALUSER_ROLE">NormalUser-->4£ per month</option>
                    <option value="SUPERUSER_ROLE">SuperUser-->12£ per month</option>
                </select>

                <div class="d-flex justify-content-center mt--3 p-3 login_container">
                     <button onclick="validate()" type="submit" id="submitButton" name="button" class="btn login_btn">Create Account</button>
                </div>


            </form>
        </div>
    </div>
</main>
        <!--=================== Body ============================ -->

        <!--=================== Footer Start ============================ -->


        <div th:replace="partials/footer :: footerFragment"></div>


        <!--=================== Footer End ============================ -->
</body>
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script src="/js/register/paypal.js"></script>
<script src="/js/register/register.js"></script>
</html>