<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Choose your User Type</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <header>
        <!--=================== NAVIGATION ============================ -->
        <div th:replace="partials/navbar :: navigation">

        </div>
    </header>
    <main class="container">
        <div class="row">
        <div class="col-sm-4" style="background-color:grey;">
            <div style="background-color: white;">
                <p>asd</p>
            </div>
        </div>
        <div class="col-sm-4" style="background-color:grey;">
            <div style="background-color: white;">
                <p>asd</p>

            </div>
        </div>
        <div class="col-sm-4r" style="background-color:grey;">
            <div style="background-color: white;">
                <p>asd</p>

            </div>
        </div>
        </div>
    </main>
</body>
</html>