<!DOCTYPE html>
<html lang="en" xmlns:th ="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link href="/css/admin/adminCreateUser.css" type="text/css" rel="stylesheet">
    <link th:href="@{/css/admin/adminEditProfile.css}" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Admin Page</title>
</head>
<body>
<div class="container">
    <a href="/admin" style="color:black;">
        <i class='fas fa-arrow-left mt-5' style='font-size:36px'></i>
    </a>
    <div class="row">
        <div class="col-sm mt-5">
            <h1 class="text-center mb-2">Edit User</h1>
        </div>
    </div>
    <div class="d-flex justify-content-center form_container">

        <form id="contact" th:action="@{/admin/update/news}" class="w-50" method="post">
            <!--=================== Input ============================ -->
            <h3 style="text-align: center">Edit Your News</h3>
            <h4></h4>
            <input placeholder="Enter Your name" type="text" style="display:none" th:field="*{newsfeed_id}" >
            <div class="form-group ml-5 mr-5">
                <input placeholder="Enter Your name" type="text" th:field="*{newsfeed_title}" >
            </div>
            <div class="form-group ml-5 mr-5">
                <input placeholder="Enter Date and Time " type="text" th:field="*{newsfeed_datetime}">
            </div>
            <div class="form-group ml-5 mr-5">
                <textarea maxlength="50" placeholder="Enter your News" th:field="*{newsfeed_news}"></textarea>
            </div>

<!--            <input  type="submit" name="button" class="btn login_btn" value="Save">-->

<!--            <input  type="submit" name="button" class="btn login_btn" value="Delete">-->


            <form>
                <div class="btn-group" role="group" aria-label="">
                    <button class="btn form-button ml-5 mr-5" name="submit" type="submit" id="update-submit" data-submit="...Sending">Update</button>
                </div>
            </form>

            <form th:action="@{/delete/newsfeed}" method="post" >
                <input class="text-center p-3 mb-1" type="text" style="display: none;" th:field="*{newsfeed_id}">
                <button class="btn form-button ml-5 mr-5" name="submit" type="submit" id="delete-submit" data-submit="...Sending">Delete</button>
            </form>

<!--            <a href="/newsfeed" class="btn form-button ml-5 mr-5" name="submit" type="submit" id="cancel-submit" data-submit="...Sending">Cancel</a>-->


        </form>
    </div>
</div>
</body>
</html>