<!DOCTYPE html>
<html lang="en" xmlns:th ="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link href="/css/admin/adminCreateUser.css" type="text/css" rel="stylesheet">
    <link th:href="@{/css/admin/adminEditProfile.css}" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Admin Page</title>
</head>
<body>
<div class="container">
    <a href="/admin" style="color:black;">
        <i class='fas fa-arrow-left mt-5' style='font-size:36px'></i>
    </a>
    <div class="row">
        <div class="col-sm mt-5">
            <h1 class="text-center mb-2">Edit User</h1>
        </div>
    </div>
    <div class="d-flex justify-content-center form_container">

        <form th:action="@{/admin/update/user}" method="post">
            <div class="input-group mb-2">
                <input type="text" class="form-control input_pass" th:field="${user.user_mail}">
            </div>
            <div class="input-group mb-2">
                <input type="password" class="form-control input_pass" th:field="${user.user_password}">
            </div>
            <div class="input-group mb-2">
                <input type="password" class="form-control input_pass" th:field="${user.user_password}">
            </div>
            <div class="input-group mb-2">
                <input type="text" class="form-control input_pass" readonly th:field="${profile.profile_id}">
            </div>
            <div class="input-group mb-2">
                <input type="text" class="form-control input_pass" th:field="${profile.profile_firstname}">
            </div>

            <div class="input-group mb-2">
                <input type="text" class="form-control input_pass" th:field="${profile.profile_lastname}">
            </div>

            <div class="input-group mb-2">
                <input type="text" class="form-control input_pass" th:field="${profile.profile_phone}">
            </div>

            <div class="input-group mb-2">
                <input type="text" class="form-control input_pass" th:field="${profile.profile_country}">
            </div>

            <div class="input-group mb-2">
                <input type="text" class="form-control input_pass" th:field="${profile.profile_address}">
            </div>

            <div class="input-group mb-2">
                <input type="text" class="form-control input_pass" th:field="${profile.profile_zip}">
            </div>

            <div class="input-group mb-2">
                <input type="text" class="form-control input_pass" th:field="${profile.profile_jobTitle}">
            </div>

            <select name="role" class="input-group mb-2">
                <option selected>Open this select menu to choose role</option>
                <option value="ADMIN_ROLE">Admin</option>
                <option value="TRIAL_ROLE">Trail</option>
                <option value="SUPERUSER_ROLE">SuperUser</option>
                <option value="NORMALUSER_ROLE">NormalUser</option>
            </select>


                <input  type="submit" name="button" class="btn login_btn" value="Save">

                <input  type="submit" name="button" class="btn login_btn" value="Delete">


        </form>
    </div>
</div>
</body>
</html>