<!DOCTYPE html>
<html lang="en" xmlns:th ="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link href="/css/admin/adminCreateUser.css" type="text/css" rel="stylesheet">
    <link th:href="@{/css/admin/adminEditProfile.css}" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Admin Page</title>
</head>
<body>
<div class="container">
    <a href="/admin" style="color:black;">
        <i class='fas fa-arrow-left mt-5' style='font-size:36px'></i>
    </a>
    <div class="row">
        <div class="col-sm mt-5">
            <h1 class="text-center mb-2">Edit User</h1>
        </div>
    </div>
    <div class="d-flex justify-content-center form_container">

        <form th:action="@{/admin/edit/profile/{user_mail}}">
            <div class="input-group mb-2">
                <input type="text" class="form-control input_pass" name="email" placeholder="Email">
            </div>
            <div class="input-group mb-2">
                <input type="password" class="form-control input_pass" name="password" placeholder="Password">
            </div>
            <div class="input-group mb-2">
                <input type="password" class="form-control input_pass" name="password" placeholder="Password">
            </div>
            <div class="input-group mb-2">
                <input type="text" class="form-control input_pass" name="firstname" placeholder="FirstName">
            </div>

            <div class="input-group mb-2">
                <input type="text" class="form-control input_pass" name="lastname" placeholder="Lastname">
            </div>

            <div class="input-group mb-2">
                <input type="text" class="form-control input_pass" name="phone" placeholder="Phone">
            </div>

            <div class="input-group mb-2">
                <input type="text" class="form-control input_pass" name="country" placeholder="Country">
            </div>

            <div class="input-group mb-2">
                <input type="text" class="form-control input_pass" name="address" placeholder="Address">
            </div>

            <div class="input-group mb-2">
                <input type="text" class="form-control input_pass" name="zipcode" placeholder="Zipcode">
            </div>

            <div class="input-group mb-2">
                <input type="text" class="form-control input_pass" name="jobTitle" placeholder="Jobtitle">
            </div>

            <select class="input-group mb-2">
                <option selected>Open this select menu to choose role</option>
                <option value="ADMIN_ROLE">Admin</option>
                <option value="TRIAL_ROLE">Trail</option>
                <option value="SUPERUSER_ROLE">SuperUser</option>
                <option value="NORMALUSER_ROLE">NormalUser</option>
            </select>

            <div class="d-flex justify-content-center mt--1 p-2 login_container">
                <button  type="submit" name="button" class="btn login_btn">Save Profile</button>
            </div>

            <div class="d-flex justify-content-center mt--1 p-2 login_container">
                <button  type="submit" name="button" class="btn login_btn">Delete Profile</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>