<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your Organization Projects</title>

    <link th:href="@{/css/admin/adminEditOrganizations.css}" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <a href="/admin" style="color:black;">
        <i class='fas fa-arrow-left mt-5' style='font-size:36px'></i>
    </a>
    <div class="row">
        <div class="col-sm mt-5">
            <h1 class="text-center mb-2">Edit Organizations</h1>
        </div>
    </div>
    <div class="d-flex justify-content-center form_container">

        <form>
            <div class="input-group mb-2">
                <input type="text" class="form-control input_pass" placeholder="Organizations Name">
            </div>

            <div class="input-group mb-2">
                <input type="text" class="form-control input_pass" placeholder="Organizations Address">
            </div>

            <div class="input-group mb-2">
                <input type="text" class="form-control input_pass" placeholder="Organizations CVR">
            </div>

            <div class="d-flex justify-content-center mt--1 p-2 login_container">
                <button  type="submit" name="button" class="btn login_btn">Save Organizations</button>
            </div>

            <div class="d-flex justify-content-center mt--1 p-2 login_container">
                <button  type="submit" name="button" class="btn login_btn">Delete Organizations</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>