<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your Organization Projects</title>

    <link th:href="@{/css/admin/adminProjects.css}" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>
<body>


<!--=================== Body ============================ -->

<!DOCTYPE html>
<html lang="en" xmlns:th ="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link href="/css/admin/adminProjects.css" type="text/css" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Admin Page</title>
</head>
<body>
<div class="container">
    <a href="/admin" style="color:black;">
        <i class='fas fa-arrow-left mt-5' style='font-size:36px'></i>
    </a>
    <div class="row">
        <div class="col-sm mt-5">
            <h1 class="text-center mb-2">Create Project</h1>
        </div>
    </div>
    <div class="d-flex justify-content-center form_container">

        <form th:action="@{/admin/insert/project}" method="post">
            <div class="input-group mb-2">
                <input type="text" class="form-control input_pass" name="project_name" placeholder="Project Name">
            </div>

            <div class="input-group mb-2">
                <input type="text" class="form-control input_pass" name="project_desc" placeholder="Project Description">
            </div>

            <div class="input-group mb-2">
                <input type="text" class="form-control input_pass" name="project_duration" placeholder="Project Duration">
            </div>

            <div class="input-group mb-2">
                <input type="text" class="form-control input_pass" name="project_start" placeholder="Project Start">
            </div>

            <div class="input-group mb-2">
                <input type="text" class="form-control input_pass" name="project_end" placeholder="Project End">
            </div>

            <div class="d-flex justify-content-center mt--1 p-0 login_container">
                <button  type="submit" name="button" class="btn login_btn">Create Project</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>



<!--<div class="container main p-2" align="center">-->
<!--    <div class="row">-->
<!--        <div class="col-sm-4">-->
<!--            <div class="d-flex justify-content-center">-->
<!--                <div class="logo_brand p-4">-->
<!--                    <img   src="https://cdn.pixabay.com/photo/2020/04/17/07/52/flower-5053686_960_720.png" class ="brand_logo" alt="logo">-->
<!--                </div>-->
<!--            </div>-->
<!--            <br>-->
<!--            <h3 class="userHeadline">Admin<br> since 27/11/20</h3>-->
<!--        </div>-->
<!--        <div class="col-sm-8">-->
<!--            <div class="d-flex justify-content-center h-100">-->
<!--                <div class="loginbox">-->
<!--                    &lt;!&ndash;                    Rettelse af H4&ndash;&gt;-->
<!--                    <div class="w-100" style="text-align: center !important;">-->
<!--                        <h4 style="text-align: center !important;">Create Your Project</h4>-->
<!--                    </div>-->
<!--                    <form class="row">-->
<!--                        <div th:class="col-sm-6">-->
<!--                            <input class="text-center p-3 mb-1 cInpu" type="text" name="" placeholder="Project Name">-->

<!--                            <input class="text-center p-3 mb-1 cInpu" type="text" name="" placeholder="Project Description">-->

<!--                            <input class="text-center p-3 mb-1 cInpu" type="text" name="" placeholder="Project Duration">-->

<!--                            <input class="text-center p-3 mb-1 cInpu" type="text" name="" placeholder="Project Start">-->

<!--                            <input class="text-center p-3 mb-1 cInpu" type="text" name="" placeholder="Project End">-->
<!--                        </div>-->
<!--                        <div class="col-sm-6"  align="left">-->
<!--                            <div class="checkbox">-->
<!--                                <label><input type="checkbox" value="">ProjectLeader</label>-->
<!--                            </div>-->
<!--                            <div class="checkbox">-->
<!--                                <label><input type="checkbox" value="">sourchef</label>-->
<!--                            </div>-->
<!--                            <div class="checkbox">-->
<!--                                <label><input type="checkbox" value="">manager</label>-->
<!--                            </div>-->
<!--                            <div class="checkbox">-->
<!--                                <label><input type="checkbox" value="">employed</label>-->
<!--                            </div>-->
<!--                            <div class="checkbox">-->
<!--                                <label><input type="checkbox" value="">trainee</label>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="w-100 row" align="center">-->
<!--                            <div class="col-sm-6">-->
<!--                                <button type="submit" name="button" class="btn login_btn mt-3 mb-3 w-50">Create Project</button>-->
<!--                            </div>-->
<!--                            <div class="col-sm-6" align="left">-->
<!--                                <a class="btn login_btn mt-3 mb-3 w-50" href="/projects/create/newJobtitles">Add More Job Titles</a>-->
<!--                            </div>-->
<!--                        </div>-->



<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-sm row">-->
<!--            &lt;!&ndash;            <div class="row rightcol mb-5">&ndash;&gt;-->
<!--            &lt;!&ndash;                <div class="d-flex justify-content-center h-100">&ndash;&gt;-->
<!--            &lt;!&ndash;                    <div class="loginbox">&ndash;&gt;-->
<!--            &lt;!&ndash;                        <h4>Job Titles</h4>&ndash;&gt;-->
<!--            &lt;!&ndash;                        <form>&ndash;&gt;-->
<!--            &lt;!&ndash;                            <input type="checkbox" id="vehicle1" name="vehicle1" th:value="Bike">&ndash;&gt;-->
<!--            &lt;!&ndash;                            <label for="vehicle1"> I have a bike</label><br>&ndash;&gt;-->
<!--            &lt;!&ndash;                            <div class="checkbox">&ndash;&gt;-->
<!--            &lt;!&ndash;                            <label><input type="checkbox" value="">ProjectLeader</label>&ndash;&gt;-->
<!--            &lt;!&ndash;                            </div>&ndash;&gt;-->
<!--            &lt;!&ndash;                            <div class="checkbox">&ndash;&gt;-->
<!--            &lt;!&ndash;                                <label><input type="checkbox" value="">sourchef</label>&ndash;&gt;-->
<!--            &lt;!&ndash;                            </div>&ndash;&gt;-->
<!--            &lt;!&ndash;                            <div class="checkbox">&ndash;&gt;-->
<!--            &lt;!&ndash;                                <label><input type="checkbox" value="">manager</label>&ndash;&gt;-->
<!--            &lt;!&ndash;                            </div>&ndash;&gt;-->
<!--            &lt;!&ndash;                            <div class="checkbox">&ndash;&gt;-->
<!--            &lt;!&ndash;                                <label><input type="checkbox" value="">employed</label>&ndash;&gt;-->
<!--            &lt;!&ndash;                            </div>&ndash;&gt;-->
<!--            &lt;!&ndash;                            <div class="checkbox">&ndash;&gt;-->
<!--            &lt;!&ndash;                                <label><input type="checkbox" value="">trainee</label>&ndash;&gt;-->
<!--            &lt;!&ndash;                            </div>&ndash;&gt;-->

<!--            &lt;!&ndash;                            <button type="submit" name="button" class="btn login_btn mt-3 mb-3">Add Move</button>&ndash;&gt;-->

<!--            &lt;!&ndash;                        </form>&ndash;&gt;-->
<!--            &lt;!&ndash;                    </div>&ndash;&gt;-->

<!--            &lt;!&ndash;                </div>&ndash;&gt;-->
<!--            &lt;!&ndash;                    <div class="">&ndash;&gt;-->

<!--            &lt;!&ndash;                    </div>&ndash;&gt;-->
<!--            &lt;!&ndash;                </div>&ndash;&gt;-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row align-items-end">-->
<!--    </div>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->