<html xmlns:th = "http://www.thymeleaf.org">

<nav th:fragment="navigation" class="navbar navbar-transparent navbar-expand-md" style="background-color : #808080c7!important;">
    <div class="d-flex w-50 order-0">
        <a class="navbar-brand mr-1" href="/"><img th:src="@{/images/smallLogo.png}"/></a>
        <h3 class="mt-4">WeAreGantt</h3>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse justify-content-center order-2" id="collapsingNavbar">
        <ul class="navbar-nav" th:if="${org != null && user != null}">
                <li class="nav-item active">
                    <a class="nav-link text-truncate text-white" th:href="@{'/newsfeed/' + ${org.getOrg_name}}">News Feed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-truncate text-white" href="/projects/">Data Model</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-truncate text-white" th:href="@{'/editprofile/' + ${user.getUser_mail}}">Edit Profile</a>
                </li>

            <li class="nav-item">
                <a class="nav-link text-truncate text-white" href="/login?logout">Logout</a>
            </li>
        </ul>
        <ul class="navbar-nav" th:if="${org == null && project == null && user == null}">
            <li class="nav-item">
                <a class="nav-link text-truncate text-white" href="/login">Login</a>
            </li>
        </ul>
    </div>
    <span class="navbar-text small text-truncate mt-1 w-50 text-right order-1 order-md-last"></span>
</nav>