<html xmlns:th = "http://www.thymeleaf.org">

<form th:action="@{/insert/org}" th:fragment="newOrgForm" method="post">
    <h1>new org form</h1>
    <input class="text-center p-3 mb-1" type="text" name="org_name" placeholder="Organizatoin Name">

    <input class="text-center p-3 mb-1" type="text" name="org_address" placeholder="Organization Address">

    <input class="text-center p-3 mb-1" type="number" name="org_cvr" placeholder="Organization CVR">

    <input type="submit" name="button" class="btn login_btn mt-3 mb-3">Save</input>

</form>

<form th:action="/edit/organization" th:fragment="editOrgForm" th:object="${org}" method="post">
    <h1>edit org form</h1>

    <input class="text-center p-3 mb-1" type="text" name="" th:field="*{org_name}">

    <input class="text-center p-3 mb-1" type="text" name="" th:field="*{org_address}">

    <input class="text-center p-3 mb-1" type="number" name="" th:field="*{org_cvr}">

    <button type="button" name="button" class="btn login_btn mt-3 mb-3">Save</button>

</form>