<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your Organization Projects</title>

    <link th:href="@{/css/profile/opretproject.css}" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>
<body>
<header>
    <!--=================== NAVIGATION ============================ -->
    <div th:replace="partials/navbar :: navigation">

    </div>
</header>

    <!--=================== Body ============================ -->
<div class="container main p-2" align="center">
        <div class="col-sm-4">
            <div class="loginbox">
                <h4 style="text-align: center !important;">Create Your Project</h4>
                <form th:action="@{/insert/project}" method="post">
                    <div align="center" class="form-group">
                        <input class="form-control w-75 text-center" type="text" name="project_name" placeholder="Project Name">
                    </div>

                    <div align="center" class="form-group">
                        <textarea rows="3" class="form-control w-75 text-center" type="text" name="project_desc" placeholder="Project Description"></textarea>
                    </div>

                    <div align="center" class="form-group mt-5">
                        <label for="duration">Duration</label><br>
                        <input id="duration" class="form-control w-75 text-center" type="date" name="project_duration" placeholder="Project Duration">
                    </div>
                    <div align="center" class="form-group">
                        <label for="start">Project Start</label><br>
                        <input id="start" class="form-control w-75 text-center" type="date" name="project_start" placeholder="Project Start">
                    </div>
                    <div align="center" class="form-group">
                        <label for="end">Project End</label><br>
                        <input id="end" class="form-control w-75 text-center" type="date" name="project_end" placeholder="Project End">
                    </div>
                    <button type="submit" name="button" class="btn login_btn mt-3 mb-3 w-50">Create Project</button>
                </form>
            </div>
        </div>
    <div>
    </div>
</div>

<!--=================== Footer ============================ -->
<div th:replace="partials/footer :: footerFragment"></div>
</body>
</html>