<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your Organization Projects</title>

    <link th:href="@{/css/profile/editproject.css}" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>
<body>
<header>
    <!--=================== NAVIGATION ============================ -->
    <div th:replace="partials/navbar :: navigation">

    </div>
</header>
    <main class="container main p-2" align="center">
        <div class="row">
            <div class="col-sm-4">
                <div class="d-flex justify-content-center">
                    <div class="logo_brand p-4">
                        <img   src="https://cdn.pixabay.com/photo/2020/04/17/07/52/flower-5053686_960_720.png" class ="brand_logo" alt="logo">
                    </div>
                </div>
                <br>
                <h3 class="userHeadline">Admin<br> since 27/11/20</h3>
            </div>
            <div class="col-sm-8">
                <div class="d-flex justify-content-center h-100">
                    <div class="loginbox">
                        <div class="w-100" style="text-align: center !important;">
                            <h4 style="text-align: center !important;">Edit Your Project</h4>
                        </div>
                        <div class="row">

<!-- == UPDATE PROJECT == -->
                            <form class="col-sm-6" th:action="@{/update/project}" th:object="${project}" method="post" >
                                    <label>Project Id</label>
                                    <input class="form-control cInpu" readonly type="text"  th:field="*{project_id}">

                                    <label>Project Name</label>
                                    <input class="form-control cInpu" type="text"  th:field="*{project_name}">

                                    <label>Project Description</label>
                                    <input class="form-control cInpu" type="text"  th:field="*{project_desc}">

                                    <label>Project Duration</label>
                                    <input class="form-control cInpu" type="date"  th:field="*{project_duration}">

                                    <label>Project Start</label>
                                        <input class="form-control cInpu" type="date"  th:field="*{project_start}">

                                    <label>Project End</label>
                                    <input class="form-control" type="date"  th:field="*{project_end}">

                                    <button type="submit" name="button" class="btn login_btn mt-3 mb-3 w-100">Save Project</button>
                            </form>
                            <div class="col-sm-6" align="left">

<!-- == JOBTITLE OPTION == -->
                                <div th:each="jobtitle : ${jobTitlesList}">
                                    <form th:action="@{/delete/projectJobTitle}" method="post" th:object="${project}">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <input style="display: none;" type="text" th:field="*{project_id}">

                                                <input style="display: none;" type="text" name="projectJobTitle_id" th:value="${jobtitle.getProjectJobTitle_id()}">
                                                <p th:text="${jobtitle.getJobTitle_name()}"></p>
                                            </div>
                                            <div class="col-sm-6">
                                                <button type="submit" class="btn login_btn mt-3 mb-3">Remove</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <a class="btn login_btn mt-3 mb-3 100" th:href="@{'/projects/create/newJobtitles/'+${project.project_id}}">Add More Job Titles</a>
                            </div>
                        </div>
                        <div align="left">

<!-- == DELETE PROJECT == -->
                            <form th:action="@{/delete/project}" method="post" th:object="${project}">

                                <input class="text-center p-3 mb-1" style="display: none" type="text" th:field="*{project_id}">

                                <button type="submit" name="button" class="btn bg-danger w-50 text-light">DELETE PROJECT</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-end">
        </div>
    </main>

<!--=================== Footer ============================ -->
<div th:replace="partials/footer :: footerFragment"></div>
</body>
</html>