<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link th:href="@{/css/profile/editOrganization.css}" type="text/css" rel="stylesheet">
    <title>Your Organization</title>
</head>
<body>
    <header>
        <!--=================== NAVIGATION ============================ -->
        <div th:replace="partials/navbar :: navigation">

        </div>
    </header>
    <main>
        <div class="container main p-2" align="center">
            <div class="row">
                <div class="col-sm">
                    <div class="d-flex justify-content-center">
                        <div class="logo_brand p-4">
                            <img   src="https://cdn.pixabay.com/photo/2020/04/17/07/52/flower-5053686_960_720.png" class ="brand_logo" alt="logo">
                        </div>
                    </div>
                    <br>
                    <h3 class="userHeadline">Admin<br> since 27/11/20</h3>
                </div>
                <div class="col-sm">
                    <div class="d-flex justify-content-center h-100">
                        <div class="loginbox">

                            <form th:action="@{/update/org}" th:object="${org}" method="post">
                                <h3>Edit your Organization</h3>
                                <div align="left">
                                    <label for="emailinput">Your Organization ID</label>
                                    <input class="text-center p-3 mb-1" id="emailinput" readonly type="text" th:field="*{org_id}">
                                </div>
                                <div align="left">
                                    <label for="emailinput">Organization Name</label>
                                    <input class="text-center p-3 mb-1" id="nameinput" type="text" th:field="*{org_name}">
                                </div>

                                <div align="left">
                                    <label for="addressinput">Organization Address</label>
                                    <input class="text-center p-3 mb-1" id="addressinput" type="text" th:field="*{org_address}">
                                </div>

                                <div align="left">
                                    <label for="cvrinput">Organization CVR Number</label>
                                    <input class="text-center p-3 mb-1" id="cvrinput" type="number" th:field="*{org_cvr}">
                                </div>

                                <input type="submit" value="Save" name="button" class="btn login_btn mt-3 mb-3">


                            </form>

                            <h3>Add Another User</h3>
                            <form th:action="@{/insert/org/user}" method="post" th:object="${org}">

                                <input class="text-center p-3 mb-1" style="display: none" type="text" th:field="*{org_id}">


                                <input class="text-center p-3 mb-1" type="text" name="user_mail" placeholder="User Mail">

                                <button type="submit" name="button" class="btn login_btn mt-3 mb-3">Save</button>
                            </form>

                            <form th:action="@{/delete/org}" method="post" th:object="${org}">

                                <input class="text-center p-3 mb-1" style="display: none" type="text" th:field="*{org_id}">


                                <button type="submit" name="button" class="btn bg-danger w-100 text-light">DELETE ORGANIZATION</button>
                            </form>

                        </div>
                    </div>
                </div>
                <div class="col-sm row align-items-end">
                    <div class="row rightcol mb-5">
                        <div class="col-6">

                        </div>
                        <div class="col-6">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
        <!--=================== Body End ============================ -->

        <!--=================== Footer ============================ -->


        <div th:replace="partials/footer :: footerFragment"></div>
    </main>
</body>
</html>