<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Privacy</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="/css/main/privacy.css" type="text/css" rel="stylesheet">
</head>
<body>
<header>
    <!--=================== NAVIGATION ============================ -->
    <div th:replace="partials/navbar :: navigation">

    </div>
</header>
    <!--=================== Container + logo ============================ -->
<div class="container" align="center">
    <form id="contact" action="" method="post" class="w-50">
        <div class="brand_logo_container">
            <img  srcset="https://cdn.pixabay.com/photo/2020/04/17/07/52/flower-5053686_1280.png 1.778x" src="https://cdn.pixabay.com/photo/2020/04/17/07/52/flower-5053686_960_720.png" class ="brand_logo" alt="logo">

        </div>
        <!--=================== Label ============================ -->
        <h3 style="text-align:center">Privacy</h3>
        <h4></h4>
        <div class="form-group ml-5 mr-5">
            <label class="btn form-button w-75 mb-3"  name="faq" type="submit" id="faq1" data-submit="...Sending">   <details>
                <summary>WeAreGantt Privacy</summary>
                <p class="text">Bla Bla Bla</p>
            </details></label>

        </div>
        <div class="form-group ml-5 mr-5">
            <label class="btn form-button w-75 mb-3" name="faq" type="submit" id="faq2" data-submit="...Sending">   <details>
                <summary>WeAreGantt Cookies</summary>
                <p class="text">???</p>
            </details></label>

        </div>
        <div class="form-group ml-5 mr-5">
            <label class="btn form-button w-75 mb-3" name="faq" type="submit" id="faq3" data-submit="...Sending">   <details>
                <summary>WeAreGantt Browser</summary>
                <p class="text">???</p>
            </details></label>
        </div>
        <div class="form-group ml-5 mr-5">
            <label class="btn form-button w-75 mb-3" name="faq" type="submit" id="faq4" data-submit="...Sending">   <details>
                <summary>WeAreGantt Focus</summary>
                <p class="text">???</p>
            </details></label>

        </div>
        <div class="form-group ml-5 mr-5">
            <label class="btn form-button w-75 mb-3" name="faq" type="submit" id="faq5" data-submit="...Sending">   <details>
                <summary>WeAreGantt Reality</summary>
                <p class="text">???</p>
            </details></label>

        </div>

    </form>


</div>
</form>
<!--=================== Footer ============================ -->
<footer>
    <div th:replace="partials/footer :: footerFragment"></div>
</footer>
</body>
</html>